.main{
    background-color: #f3f3f3
}

.main .container>*{
    border-bottom: 1px solid #dedede;
}

.main .road{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6a6969;
    font-size: 13px;
}

.main .road span{
    padding-right: 10px;
}


.main .content{
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.content .col-14 .title{
    font-size: 20px;
    color:#2f2f2f;
    padding-bottom: 10px;
    padding-top: 25px

}

.content .col-14 .price{
    font-size: 19px;
    color: #2f2f2f;

}

.content .col-14 .suggar{
    padding-top: 30px;
    padding-bottom: 30px;
}

.content .col-14 .suggar .top{
    color: #6a6969;
    font-size: 14px;
    padding-bottom: 13px
}

.content .col-14 .suggar .button button{
    padding: 5px 13px;
    margin-right: 10px;
    border: 1px solid #dedede;
    background-color: transparent;
    border-radius: 5px;
    color: #6a6969;
    margin-bottom: 15px
}

.content .col-14 .suggar .button button:focus{
    background-color: #7a2843;
    color: #dedede;
   
}

.content .col-14 .suggar .shop button{
    background-color: #7a2843;
    color: #fff;
    padding:9px 20px;
    font-size: 16px;
    font-weight: 300
}

.content .col-14 .suggar .shop button:hover{
   background-color: #6a2843;
}

.content .col-14 .suggar .shop button:active{
    background-color: #5a2843;
    outline: 2px solid #6a6969
}

.content .col-14 .introduce{
    color: #6a6969;
    font-size: 15px;
    line-height: 1.7
}