.header .global{
    display: flex;
    padding: 30px 0px
}

.header .global .col-10{
    display: flex;
    align-items: baseline
}

.header .global .word{
    font-size: 30px;
    color: #7a2843;   
}

.header .global .col-14{
    text-align: right;
}

.header .global .link{
    margin-top: 10px;
    margin-bottom: 10px
}

.header .global .link a{
    padding:6px 10px;
    color: #545454;
    font-size: 13px
}

.header .global .link a:hover{
    color: #7a2843;
}

.header .global form input{
    padding:10px 45px 10px 10px;
    background-color: #f3f3f3;
    font-size: 17px;
}

.header .global form input:hover,
.header .global form .button:hover{
    background-color: rgba(0, 0, 0, .1)
}



.header .global form .input a{
    position: relative;
    top: 3px;
    left: -33px;
    color: rgba(0, 0, 0, .5)
}

.header .global form .icon i{
    padding-right: 5px;
}


.header .global form .button{
    padding: 10px;
    color: #545454;
    background-color: #f3f3f3
}

.header .nav{
    background-color: #7a2843;
}

.header .nav a{
    padding:20px 10px;
    color: #fff
}

.header .nav a:hover{
    background: #fff;
    color: #7a2843
}

.main{
    background-color: #f3f3f3
}


.main .first-screen .picture,
.main .shopping .picture{
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.main  .title{
    padding-top: 40px;
    padding-bottom: 20px;
   
}

.main .title .left{
    font-size: 26px;

}

.main  .title .right{
    font-size: 16px;
    padding-top: 7px;   
}

.main  .title >*{
    color: #555
}

.main .title .right:hover{
    color: #7a2843
}

.main .shopping .picture{
    display: flex;
}



.main .shopping .picture .word{
    color: #6a6969;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px
}

.main .shopping .picture a{
    border: 2px solid #dedede;
    box-shadow:0px  3px 10px rgba(0, 0, 0, .1)
}

.main .shopping .picture a:hover{
    transform: scale(1.1);
    transition: all 0.6s;
}

.main .shopping .picture a:first-child{
    margin-right: 8.3333333333333333%
}

.main .selection .picture-group{
    display: flex;
    justify-content: space-between;
    
}

.twenty-three{
    flex-basis: 23%
}

.main .selection .word{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #6a6969;
    font-size: 15px;
}

.main .selection .price{
    color: black;
    font-weight: 400;
    padding-bottom: 10px

}

.main .selection .card{
    margin-bottom: 60px
}

.main .selection .card:hover{
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .5)
}

.main .selection .picture-group{
     border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.main .adver .title{
    padding-bottom: 20px;
}



.main .adver .container,
.main .other .container{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 15px;
    text-align: center
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #555
}

.footer a{
    font-size: 15px;
    color: inherit;
    padding:3px 6px
}

.footer a:hover{
    color: #7a2843
}





