.nav{
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color:rgba(0, 0, 0, .3);

}

.nav .left a {
  font-size: 18px;
  font-weight: 400;
  color: #fff
 }

.nav a i{
  color: #F4D03F;
  font-size: 18px;
 }

.nav .right a {
  font-size: 14px;
  color: #fff;
  padding:3px 8px;
  font-weight: 300
 }

 .nav a:hover{
   color: #F4D03F
 }