<head>
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/grid.css">
  <link rel="stylesheet" href="./nav.css">
  <link rel="stylesheet" href="../../../../practice/caomei1.2.8/style.css">
</head>

<body>
  <div class="row nav">
    <div class="row container">
      <div class="left">
        <a href="#"><i class="czs-diamond-l"></i>个人简历博客</a>
      </div>
      <div class="right">
        <a href="#">基本资料</a>
        <a href="#">项目经验</a>
        <a href="#">专业技能</a>
        <a href="#">人生经历</a>
        <a href="#">自我评价</a>
        <a href="#">联系方式</a>
      </div>
    </div>
  </div>
</body>