@media screen and (max-width:800px){
    .col-md-1{
        flex-basis:4.16666666666666667%;
     }
    .col-md-2{
        flex-basis:8.3333333333333333%;
     }
     .col-md-3{
        flex-basis:12.5%;
     }
     .col-md-4{
        flex-basis:16.666666666666666%;
     }
     .col-md-5{
        flex-basis:20.833333333333336%;
     }
     .col-md-6{
        flex-basis:25%;
     }
     .col-md-7{
        flex-basis:29.1666666666666666%;
     }
     .col-md-8{
        flex-basis:33.3333333333333333%;
     }
     .col-md-9{
        flex-basis:37.5%;
     }
     .col-md-10{
        flex-basis:41.66666666666666667%;
     }
     .col-md-11{
        flex-basis:45.833333333333333336%
     }
     .col-md-12{
        flex-basis:50%;
     }
     .col-md-13{
        flex-basis:54.1666666666666666667%
     }
     .col-md-14{
        flex-basis:58.3333333333333336%;
     }
     .col-md-15{
        flex-basis:62.50000000000000001%;
     }
     .col-md-16{
        flex-basis:66.66666666666666667%;
     }
     .col-md-17{
        flex-basis:70.833333333333333334%;
     }
     .col-md-18{
        flex-basis:75%;
     }
     .col-md-19{
        flex-basis:79.166666666666666667%;
     }
     .col-md-20{
        flex-basis:83.3333333333333333334%;
     }
     .col-md-21{
        flex-basis:87.5%;
     }
     .col-md-22{
        flex-basis:91.6666666666666666667%;
     }
     .col-md-23{
        flex-basis:95.83333333333333333333%;
     }
     .col-md-24{
        flex-basis:100%;
     }

     .main .col-5{
         display: none
     }

    }

     
